<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aar.qrscannercutre">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".QRScannerCutre"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <!--Es necesario usar un provider para poder acceder a la uri de un fichero desde un intent, (En el caso de esta aplicacion, para el intent de compartir el fichero
        Esto es necesario desde la Api 24-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aar.qrscannercutre.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>


        <!--La Api_Key para google Maps-->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDA7BUPaZ75-yrZm9fIRbBR0okTZ6JRwn4"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode,face"/>

        <activity android:name=".iu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".iu.PantallaInfo" android:screenOrientation="portrait" android:label="@string/titPantallaInfo"/>
        <activity android:name=".iu.PantallaMapa" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaQRCreator" android:screenOrientation="portrait" android:label="@string/titPantallaQrCreator"/>

    </application>

</manifest>